<% wrap_layout :blog do %>
    <article class="text-left">
        <h1><%= current_article.title %></h1>
            <p class="text-muted"><%= current_article.date.strftime('%B %eth, %Y') %></p>
            <%= current_article.body %>
    </article>
<% end %>